$deepcolor: rgba(240, 240, 240, 1);

body {
  padding: 0;
  margin: 0;
}

.main {
  z-index: 0;
  position: relative;
  min-height: 80vh;
  background: linear-gradient(120deg, #db6395 20%, #c02aee 80%);

  h1 {
    margin: 0;
    padding: 40px 0;
    color: $deepcolor;
    text-shadow: -2px 3px 5px black;
    text-align: center;
    text-transform: uppercase;
  }
}

.bottom-bcg-circle {
  z-index: -1;
  width: 100%;
  top: 83%;
  position: absolute;
  border-radius: 35% 35% 0 0;
  min-height: 42.5vh;
  background-color: $deepcolor;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 556px) {
    border-radius: 20% 20% 0 0;
  }

  @media only screen and (min-width: 1024px) and (max-width: 1200px) {
    top: 74%;
    border-radius: 20% 20% 0 0;
  }

  .user-input {
    position: absolute;

    button {
      margin-right: 5px;
      padding: 5px;
      cursor: pointer;
      background: linear-gradient(120deg, #db6395 20%, #c02aee 80%);
      border: 1px solid purple;
      box-shadow: 2px 8px 6px -6px rgba(22, 22, 22, 0.527);
      border-radius: 20%;
    }
  }
}
.bottom-bcg {
  //   margin:0;
  // width:100%;
  // background-color:black;
  //  top:50%;
  //   min-height: 32vh;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   background-color: $deepcolor;
}

.list-area {


  ul {
    box-shadow: 10px 8px 30px -8px rgba(22, 22, 22, 0.527);
    background-color: white;
    min-height: 60vh;
    width: 20%;
    border-radius: 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;

    @media only screen and (max-width: 768px) {
      width: 50%;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1200px) {
      width: 40%;
    }
  }

  li {
    margin: 50px 10px -20px 0px;
    cursor: pointer;
    list-style: none;
    padding-top: 20px;
    color: black;

    &.complete {
      text-decoration: line-through;
      color: grey;
    }

   
  }

  
}

footer {
  
 display: flex;
 align-items: center;
 justify-content: center;
  width:100%;
  height:25vh;
  background-color: $deepcolor;

  span {
    align-self: flex-end;
    position: relative;
  }
}



